<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>XGN BOT</title>
    <meta name="description" content="XGN BOT, simply the best bot for discord">
    <meta name="theme-color" content="#00aaff">
    <meta name="author" content="paolo#0069">
    <meta name="keywords"
        content="discord bot,XGN BOT,discord bot dashboard,bot,bot per discord,bot italiani,discord,discord bots,discord italia,bot discord,discord bot,bot,italia,discord italia,discord bot,moderazione,musica,divertimento,fun,music,moderation,levelling,dashboard,disord dashboard">
    <link rel="icon" type="image/png" sizes="300x250" href="../static/assets/img/superthumb.png">
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
</head>

<body style="background-color: var(--background);">
    <div id="top" style="height: 12px;">
        <nav class="navbar navbar-light navbar-expand fixed-top"
            style="color: var(--main-color);border-top-width: 6px;border-top-style: solid;background: var(--background);">
            <div class="container-fluid"><a class="navbar-brand" href="#"
                    style="color: var(--main-color);font-family: 'Alfa Slab One', cursive;">XGN BOT</a><button
                    data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle
                        navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a class="nav-link active smoothScroll" href="#feature"
                                style="color: var(--text-color);">See Features</a></li>
                        <li class="nav-item"><a class="nav-link smoothScroll" href="#commands"
                                style="color: var(--text-color);">Commands</a></li>
                        <li class="nav-item"><a class="nav-link smoothScroll"
                                onClick="window.open('https://cutt.ly/XGNbot', 'Invite', 'width=450,height=750')"
                                style="color: var(--text-color);">Invite</a></li>
                        <li class="nav-item"><a class="nav-link smoothScroll" href="/dashboard"
                                style="color: var(--text-color);">Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link smoothScroll" href="https://discord.gg/8V62RTS25Q"
                                style="color: var(--text-color);">Support Guild</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <header class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center"
        style="height: 418px;text-align: center;margin: 55px;"><img class="rounded"
            src="../static/assets/img/superthumb.png" width="150" height="150" style="margin-top: 30px;">
        <h1 class="d-xl-flex justify-content-xl-start" style="color: var(--text-color);">XGN BOT</h1>
        <p style="color: var(--secondary-text-color);">a bot full of features,<br> a complete web-dashboard, it has a
            levelling system,<br>some fun
            commands and a pretty good moderation</p>
        <div class="tada animated">
            <div role="group" class="btn-group">
                <a onClick="window.open('https://cutt.ly/XGNbot', 'Invite', 'width=450,height=750')"
                    class="btn btn-primary shadow-none" type="button"
                    style="margin: 5px;background-color: var(--main-color);border-color: var(--main-color);border-radius: 10px;">Invite
                    Me</a>

                <a class="btn btn-primary smoothScroll shadow-none" role="button"
                    style="margin: 5px;background-color: var(--main-color);border-color: var(--main-color);border-radius: 10px;"
                    href="#feature">See Features</a>
            </div>
        </div>
        <div class="tada animated">
            <div role="group" class="btn-group">
                <a class="btn btn-primary smoothScroll shadow-none" role="button"
                    style="margin: 5px;background-color: var(--main-color);border-color: var(--main-color);border-radius: 10px;"
                    href="https://discord.gg/8V62RTS25Q">Support Guild</a>
                <a class="btn btn-primary smoothScroll shadow-none" role="button"
                    style="margin: 5px;background-color: var(--main-color);border-color: var(--main-color);border-radius: 10px;"
                    href="/dashboard">Dashboard</a>
            </div>
        </div>
    </header>
    <div id="feature" style="height: 90px;background: var(--secondary);">
        <div><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="var(--background)" fill-opacity="1"
                    d="M0,96L40,112C80,128,160,160,240,144C320,128,400,64,480,48C560,32,640,64,720,69.3C800,75,880,53,960,58.7C1040,64,1120,96,1200,96C1280,96,1360,64,1400,48L1440,32L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
                </path>
            </svg>
        </div>
    </div>
    <div class="features-boxed" style="background: var(--secondary);">
        <div class="container" style="color: var(--main-color);">
            <div class="intro">
                <h2 class="text-center" style="color: var(--text-color);">XGN BOT Features</h2>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box" style="border-radius: 34px;">
                        <ion-icon name="hand" style="color: var(--main-color)"></ion-icon>
                        <h3 class="name">Say Hi To New Members</h3>
                        <p class="description" style="color: var(--secondary-text-color);">Take advantage of the welcome
                            message to inform new users about your server rules, topic, or ongoing events.<br>The bot
                            has a custom image for welcoming the users.<br></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box">
                        <ion-icon name="analytics" style="color: var(--main-color);"></ion-icon>
                        <h3 class="name">Levelling System</h3>
                        <p class="description" style="color: var(--secondary-text-color);">Gamers love to grind. Use our
                            leveling system to identify and reward the most active members of your community. Let them
                            show off a cool customizable rank card and compete for the mighty first spot of your
                            leaderboard!<br><br>Automatically give roles when they reach a certain level to reward the
                            most active members with access to exclusive channels and privileged permissions.<br></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box">
                        <ion-icon name="musical-note" style="color: var(--main-color)"></ion-icon>
                        <h3 class="name">Music</h3>
                        <p class="description" style="color: var(--secondary-text-color);">Share music with your friends
                            in discord with the music plugin wich has the best quality available.<br></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box">
                        <ion-icon name="logo-game-controller-b" style="color: var(--main-color)"></ion-icon>
                        <h3 class="name">Fun</h3>
                        <p class="description" style="color: var(--secondary-text-color);">Borded? The bot has a lot fun
                            commands, for memes, random facts, also it has a nice Tic Tac Toe command that lets you play
                            the n°1 game to avoid boredom.<br></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box">
                        <ion-icon name="attach" style="color: var(--main-color)"></ion-icon>
                        <h3 class="name">Slash Commands</h3>
                        <p class="description" style="color: var(--secondary-text-color);">For all the times you missed
                            the prefix of a bot and the entire server has bullied you.<br></p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box">
                        <ion-icon name="hammer" style="color: var(--main-color)"></ion-icon>
                        <h3 class="name">Moderation</h3>
                        <p class="description" style="color: var(--secondary-text-color);">Easly moderate your server
                            with the bot's moderation plugin.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box">
                        <ion-icon name="grid" style="color: var(--main-color);"></ion-icon>
                        <h3 class="name">Web Dashboard</h3>
                        <p class="description" style="color: var(--secondary-text-color);">Tired of setting up all the
                            bot features via commands, thanks to the XGN BOT Web Dashboard you won't have to do it
                            again.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div id="features" class="box">
                        <ion-icon name="settings" style="color: var(--main-color)"></ion-icon>
                        <h3 class="name">Getting Started</h3>
                        <p class="description" style="color: var(--secondary-text-color);">The bot has a lot of event
                            handler, so you can't use commands wrong. It has a change log event, you can setup the
                            channel in your server!<br>Also you have to setup the welcome channel and the one for the
                            level up.<br></p>
                    </div>
                </div>
            </div>
        </div>
        <div></div>
    </div>
    <div style="background-color: var(--background);">
        <div style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="height: 100%; width: 100%;">
                <path d="M-41.53,-9.56 C167.83,173.98 302.14,-60.89 534.09,89.10 L500.00,0.00 L0.00,0.00 Z"
                    style="stroke: none; fill: var(--secondary);"></path>
            </svg></div>
    </div>
    <div id="commands">
        <section>
            <div class="container-fluid text-white">
                <div class="row row-cols-3 justify-content-center" style="color: var(--secondary-text-color);">
                    <div class="col-auto col-md-6 col-lg-4 text-center pb-5 pt-5 number-item love_counter">
                        <h1 class="love_count" style="font-size: 70px;"><strong>{{ guilds }}</strong></h1>
                        <h4 style="color: var(--main-color);margin-top: -6px;">Total Servers</h4>
                    </div>
                    <div class="col-auto col-lg-4 text-center align-self-center pb-5 pt-5 love_counter">
                        <h1 class="love_count" style="font-size: 70px;">
                            <strong">{{ users }}</strong>
                        </h1>
                        <h4 style="color: var(--main-color);margin-top: -6px;">Total Users</h4>
                    </div>
                    <div class="col-auto col-lg-4 text-center align-self-center pb-5 pt-5 love_counter">
                        <h1 style="font-size: 70px;"><strong>{{ ping }}ms</strong></h1>
                        <h4 style="color: var(--main-color);margin-top: -6px;">Latency</h4>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <h2>All Commands</h2>
            <div class="accordion">
                <!-- level system-->
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Levelling
                            Commands</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>!rank [optional(user)] - send the user rank, level, xp <br> !leaderboard - see the
                            server's leaderboard./p>
                    </div>
                </div>
                <!--fun-->
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Fun
                            Commands</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>!hello - the bot says hello <br>!slap [member] [reason] - slaps a member<br>!echo -
                            repeat a message (no @everyone/@here allowed)<br>!meme - send a random meme
                            <br>!token - send a 100% real discord token<br>!fatc [animal] - send a random fact
                            about an animal and a cute image
                        </p>
                    </div>
                </div>
                <!--fun images-->
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Fun
                            Images Commands</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>!gay [optional(member)] - creates an image with the LGBTQI+XSXWWSD
                            overlay<br>!wasted [optional(member)] - creates an image with the GTA wasted
                            overlay<br>!capture [optional(member)] - creates an image with a
                            jail<br>!triggered [optional(member)] - creates a gif with the triggered overlay
                        </p>
                    </div>
                </div>
                <!--tic tac toe-->
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Games
                            Commands</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>!tictactoe [opponent] - creates an instance of a tic tac toe game </p>
                        <p>!rps - creates a game of rock paper scissors(the opponent is the computer)</p>
                    </div>
                </div>
                <!--music-->
                <div class="accordion-item">
                    <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Music
                            Commands</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>!connect [channel] - connect to a voice channel<br>!disconnect|leave -
                            disconnect from a voice channel<br>!play [query] - play a song by a url
                            or a keyword<br>!pause - pause the current song.<br>!stop - stop
                            playback<br>!next|skip - skip playback<br>!previous - plays the previous
                            track<br>!shuffle - shuffles the queue<br>!clear_queue - clear the
                            queue<br>!loop [mode] - enables the looping of music<br>!queue [show] -
                            shows the queue<br>!volume [volume] - set the volume<br>!lyrics [name] -
                            lyrics<br>!eq [preset] - set the type of the equalizer<br>!playing|np -
                            shows the current playback<br>!skipto|playindex [index] - go to a
                            specific track in the queue.<br>!restart - estart the song.<br>!seek
                            <position> - seek the queue<br>
                        </p>
                    </div>
                </div>
                <!--dictionary-->
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Dictionary
                            Commands</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>!urban [query] - the bot sends the explanation of the word in the
                            query (due to an api problem you need to use a NSFW channel to
                            perform this command).</p>
                    </div>
                </div>
                <!-- meta-->
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Meta/Info
                            Commands</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>!info [optional(user)] : see the user info like join date in
                            server, the roles, the permissions, the ID, the rank, the xp,
                            and the level<br>!server : see the server info like the name,
                            the image, the number of members, the number of textual channels
                            and the vocal ones, you can see the also the most active member
                            based on the xp<br>!ping : see the ping of the bot<br>!stats :
                            see the stats of the bot<br>!invite : sends a little embed with
                            some util links</p>
                    </div>
                </div>
                <!--moderation-->
                <div class="accordion-item">
                    <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">Moderation
                            Commands</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>!purge [n] : deletes a number of messages<br>!warn [user]
                            [reason] : wars an user<br>!warnings [user] : see the
                            warnings for an user<br>!kick [user] [reason] : kick a user
                            from the server<br>!ban [user] : ban a user from the server
                        </p>
                    </div>
                </div>
                <!---settings
                <div class="accordion-item">
                    <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Settings
                            Commands</span><span class="icon" aria-hidden="true"></span></button>
                    <div class="accordion-content">
                        <p>!prefix [new] - set the new prefix<br>!welcome_event -
                            see the current configuration for the welcome
                            message<br>!setwelcome - set the welcome message and the
                            channel<br>!leave_event - see the current configuration
                            for the leave message<br>!setleave - set the leave
                            message and the channel<br>!log - see the current
                            configuration for the logging<br>!setlog [channel] - set
                            the channel for the logs<br>!levelling - see the current
                            configuration for the level system<br>!setlevelling -
                            configurate the levelling system</p>
                    </div>
                </div>-->

            </div>
        </div>
    </div>


    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="var(--secondary)" fill-opacity="1"
            d="M0,160L48,154.7C96,149,192,139,288,154.7C384,171,480,213,576,218.7C672,224,768,192,864,181.3C960,171,1056,181,1152,192C1248,203,1344,213,1392,218.7L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
        </path>
    </svg>
    <div class="footer-dark" style="background: var(--secondary);padding-top: 0px;padding-bottom: 0px;">
        <div class="container" style="background: #2c2f33; border-radius: 34px; text-align: center;">
            <h1>Ready to start?</h1>
            <div role="group" class="btn-group">
                <div class="tada animated">
                    <div role="group" class="btn-group">
                        <a href="https://cutt.ly/XGNbot" class="btn btn-primary shadow-none" type="button"
                            style="margin: 5px;background-color: #7289da;border-color: #7289da;border-radius: 10px;">Invite
                            Me</a>
                    </div>
                </div>
            </div>
            <h3>Or</h3>
            <div role="group" class="btn-group">
                <div class="tada animated">
                    <div role="group" class="btn-group">
                        <a href="https://discord.gg/8V62RTS25Q" class="btn btn-primary shadow-none" type="button"
                            style="margin: 5px;background-color: #7289da;border-color: #7289da;border-radius: 10px;">Join
                            Support Guild</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-dark" style="background: var(--secondary);padding-top: 0px;padding-bottom: 0px;">
            <div class="container">
                <div class="row">
                    <div class="col item social"><a class="smoothScroll" href="#top"><i
                                class="icon ion-android-arrow-up"></i></a></div>
                </div>
                <p class="copyright" style="color: var(--text-color);">XGN BOT © 2021</p>
                <p class="copyright" style="color: var(--text-color);padding: 0px;">Need help?&nbsp;<a
                        style="color: #bbb;" href="https://discord.gg/8V62RTS25Q">Support Guild</a></p>
                <p class="copyright" style="color: var(--text-color); padding: 0px;">Currently our little gnomes
                    are working to provide the best expirience</p>
                <p class="copyright" style="color: var(--text-)"><a href="/privacy">Privacy Policy</a></p>
            </div>
        </div>
    </div>
        <script src="../static/assets/js/jquery.min.js"></script>
        <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="../static/assets/js/Counting.js"></script>
        <script src="../static/assets/js/untitled.js"></script>
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</body>

</html>